// scss/_sections.scss
.product-card {
  .img-container {
    height: 250px; // Altura fija obligatoria para uniformidad
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    img {
      max-height: 100%;
      width: auto;
      object-fit: contain; // Mantiene la proporción real de la foto
    }
  }
}