/* ===== COLORES PRINCIPALES ===== */
$color-primario: #5500ff;
$color-secundario: #260101;
$color-detalle: #f27244;
$color-borde: #f2dabd;

/* ===== LISTA DE COLORES ===== */
$colores: green, blue, red, pink, white;

/* ===== MAPA DE COLORES ===== */
$colores-map: (
  primario: #5500ff,
  secundario: #260101,
  detalle: #f27244
);




