$color-principal: #1a1a1a; 
$color-acento: #d4af37;
$color-blanco: #ffffff;

// Mapa para Bucle (Requisito: Bucle @each)
$status-colors: (
  "promo": #e74c3c,
  "nuevo": #2ecc71,
  "exclusivo": #f39c12
);

// Animación de Gradiente
$gradiente-retro: linear-gradient(-45deg, #1a1a1a, #333333, #1a1a1a, #444444);