/* scss/main.scss */
@use "base/reset";
@use "abstracts/variables" as vars;
@use "layout/header";
@use "components/sections";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}