/* scss/_header.scss */
@use "../abstracts/variables" as vars;

header {
  .navbar {
    background: vars.$gradiente-retro !important;
    background-size: 400% 400%;
    animation: moveGradient 12s ease infinite; // Animación de fondo fluida
    border-bottom: 2px solid vars.$color-acento;
  }
}

// Definición de los fotogramas clave
@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}