
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* ----- Fondo general del sitio ----- */
body{
    background-color: #f4f4f4;
    color: #000;
    font-family: Arial, sans-serif;;
    text-align: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

header{

color: white;
padding: 2rem;
}

header h1{
font-size: 2.8rem;
margin-bottom: 1rem;
}

.menuNavegacion{
background-color: #129a9a;
}

.menu{
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
}

.menu a{
    color: white;
    transition: color 0.3s;
}

.quienes-somos{
    padding: 3rem;
    text-align: center;
}

.quienes-somos h2{
font-size: 2.4rem;
margin-bottom: 2rem;
}

.quienes-somos img{
    width: 70%;
    max-width: 500px;
    margin-bottom: 1.5rem;
}

.quienes-somos p{
    color: #333;
    font-size: 1.6rem;
    line-height: 1.5;
}

.productos{
    background-color: white;
    padding: 3rem;
    text-align: center;
}

.productos h2{
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.producto{
display: inline-block;
    width: 200px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.producto img{
    width: 100%;
    border-radius: 5px;
    border-bottom: 1rem;
}

.producto h3{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.producto p{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.producto button {
    background-color: #129a9a;
    color: white;
    border: none;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
}

.producto button:hover {
    background-color: #0e7c7c;
}

footer {
    background-color: #55cfcf;
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}

footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.menu-footer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.menu-footer a {
    color: white;
    font-size: 1.4rem;
}

footer form {
    margin-top: 1rem;
}

footer input[type="email"] {
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    margin-right: 0.5rem;
    font-size: 1.4rem;
}

footer input[type="submit"] {
    background-color: #0e7c7c;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4rem;
}

footer input[type="submit"]:hover {
    background-color: #095d5d;
}

.redes{
    text-align: center;
    margin: 3rem 0;
}

.redes h2{
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

.iconos-redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* --- Html Camisetas --- */
.seccion-camisetas h3 {
  color: #129a9a;
  margin-top: 2rem;
}

/* --- Html Botines --- */

.seccion-botines h3 {
  color: #129a9a;
  margin-top: 2rem;
}
/* --- Html Soporte --- */


